<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
<% end %>
<h2><%= t 'prelim.your_info' %></h2>
<p>
  <%= form_tag( update_url ) do -%>
    <table>
      <tr>
        <td><%= t 'index.firstname' %></td>
        <td><%= text_field_tag 'firstname', @host.user.firstname, :placeholder => t('index.firstname') %></td>
      </tr>
      <tr>
        <td><%= t 'index.lastname' %></td>
        <td><%= text_field_tag 'lastname', @host.user.lastname, :placeholder => t('index.lastname') %></td>
      </tr>
      <tr>
        <td><%= t 'index.email' %></td>
        <td><%= email_field_tag 'email', @host.user.email, :placeholder => t('index.email_suggestion'), :size => 40 %></td>
      </tr>
      <tr>
        <td><%= t 'index.account' %></td>
        <td><%= email_field_tag 'account', @host.user.account, :placeholder => t('index.account_suggestion'), :size => 40 %></td>
      </tr>
      <tr>
        <td colspan="2"><%= submit_tag t('index.submit') %></td>
      </tr>
    </table>
  <% end -%>
</p>
<p>
  <%= t 'confirm.list_of_computers' %> <%= @user.hosts.count %>
  <table>
    <% @user.hosts.each do |host| -%>
        <tr>
          <td>MAC:</td>
          <td><%= host.mac %></td>
        </tr>
    <% end -%>
  </table>
</p>
<h2>
  <%= t 'confirm.add_computer' %>
</h2>
<p>
  <%= form_tag( add_host_url ) do %>
    <table>
        <tr>
          <td colspan="2"><%= t 'confirm.enter_mac_address' %></td>
        </tr>
        <tr>
          <td>MAC:</td>
          <td><%= text_field_tag 'mac', nil, :placeholder => '00:00:00:00:00:00', :size => 17 %></td>
        </tr>
        <tr>
            <td colspan="2"><%= submit_tag t('index.submit') %></td>
        </tr>
    </table>
  <% end -%>
</p>