<h1><%= t(:welcome) %></h1>
<h2><%= t(:access_question) %></h2>
<p><%= t(:access_answer) %>
	<ol>
		<li><%= t(:access_answer_1) %></li>
		<li><%= t(:access_answer_2)%></li>
		<li><%= t(:access_answer_3) %></li>
	</ol>
</p>
<h2><%= t(:did_already_question) %></h2>
<p><%= t(:did_already_answer) %></p>
<h2>Please enter your information!</h2>
<p>Form</p>
<h2>FAQ</h2>
<ul>
	<li><strong><%= t(:faq_already_registered_question) %></strong><br />
		<%= t(:faq_already_registered_answer) %></li>
	<li><strong><%= t(:faq_broken_question) %></strong><br />
		<%= t(:faq_broken_answer) %></li>
	<li><strong><%= t(:faq_additional_question) %></strong><br />
		<%= t(:faq_additional_answer) %></li>
	<li><strong>Is there a limit to the types of programs I can use or a cap on my download?</strong><br />
		Currently there are almost no restrictions. However, your computer may be temporarily disconnected if you
		create problems for the other users. Examples of those problems are worms blasting our network, illegal downloads
		prompting letters from copyright holders or spider crawlers downloading complete web pages.<br />
		Thus it is imperative that you use an up-to-date virus scanner. However, you do not need a separate firewall - the builtin
		Windows Firewall is absolutely sufficient and 3rd party firewalls like ZoneAlarm are known to cause more problems than
		solve them.</li>
</ul>
